body h1{
    font-family: 'Bayon';font-size: 100px;
    color: darkgreen;
    display: flex;
    justify-content: center;
}
h2{
    font-family: 'Antonio';font-size: 30px;
    margin: 0.5em;
}
p{
    font-family: 'Fira Sans Condensed';font-size: 22px;
    margin: 0.5em;
    color: black;
}
img{
    height: auto;
}
header nav {
    background-color: darkgreen;
    color: white;
}
header img {
    width: 99%;
    margin: 10px;
    border: 10px;
    display: flex;
    justify-content: center;
    background-color: darkgreen;
}
header nav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}
header button a{
    color: white;
    padding: 10px;
    border: 10px;
    border-color: darkgreen;
    background-color: darkgreen;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
header button a:hover{
    color: darkgreen;
    background-color: white;
    transition-duration: 0.7s;
}
article a img {
    width: 10%;
}
header {
    background-color: darkgreen;
}
.ajax ol{
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.ajax main img{
    width: 30%;
}
.ajax main div:first-of-type{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.ajax main div:first-of-type img{
    width: 20%;
    float: right;
}
.ajax main div:nth-of-type(2){
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.ajax main div:nth-of-type(2) img{
    width: 20%;
    margin: 20px;
}
.ajax p {
    margin: 0.5em;
}
.ajax h2 {
    margin: 0.5em;
}
h1{
    display: flex;
    justify-content: center;
    margin: 0em;
}
section{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1em;
}
section img{
    width: 90%;
}
h2{
    margin: 0.5em;
    font-size: 30px;
}
.index h2{
    display: flex;
    justify-content: center;
    font-size: 3em;
}
.index p{
    font-size: 1.5em;
}
footer{
    background-color: darkgreen;
    color: white;
    text-decoration: none;
    padding: 2em;
}
footer li{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 22px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer h2{
    display: flex;
    justify-content: center;
}
.ytvideo{
    display: flex;
    justify-content: center;
    margin: 1em;
}
.anderlecht main div:nth-of-type(3){
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.anderlecht main div:nth-of-type(3) img{
    width: 18%;
    margin: 20px;
}
.anderlecht main div:nth-of-type(4){
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.anderlecht main div:nth-of-type(4) img{
    width: 18%;
    margin: 20px;
}
.barca main img{
    width: 250px;
    height: 250px;
}
.barca h2{
    display: flex;
    justify-content: center;
}
.barca div{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.dortmund div{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.dortmund div img{
    width: 20%;
}
.milan main div img{
    width: 20%;
    margin: 20px;
}
.milan main div:first-of-type{
    display: flex;
    justify-content: space-around;
}
.dereis{
    display: flex;
    flex-direction: row-reverse;
}
.indesansiro{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.westham div{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1em;
}
.westham div:first-of-type img{
    width: 30%;
}
.westham div:nth-of-type(2){
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.westham div:nth-of-type(2) img{
    width: 20%;
}
